<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hakathon_immersive.narrator" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Narrator</name>
    <description>
        A leading mobile app to immersive guest to Universal experience.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Narrator Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <!--<feature name="SplashScreen">-->
        <!--<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />-->
        <!--<param name="ios-package" value="CDVSplashScreen" />-->
    <!--</feature>-->
</widget>
