<ion-view>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="login.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="login.password">
            </label>
            <button class="button button-full button-positive" ng-click="signin()">login</button>
        </div>
    </ion-content>
</ion-view>